---
layout: default
---
<article class="blog-post" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="blog-post-title" itemprop="name headline">{{ page.title | escape }}</h1>
  <p class="blog-post-meta">
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: site.date_format_post }}
    </time>
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      {% assign author = site.data.authors[page.author] %}

      {% if author %}
        <span>
            {{ site.data.translations[page.lang].written_by }} <a href="{{ author.web }}" target="_blank">{{ author.name }}</a>
            {% if author.twitter %}
              <a href="{{ author.twitter }}" target="_blank"><img src="/images/twitter-icon.png" class="social-icon"/></a>
            {% endif %}
        </span>
      {% endif %}
    </span>
  </p>

  <div itemprop="articleBody">
    {{ content }}
  </div>
</article>
